<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        var token = '';
    </script>
</head>
<body>
Hello, {{user}}!
<form
    onsubmit="
    var payload = {
        method: 'post',
        headers: {
            'Content-type': 'application/x-www-form-urlencoded'
        },
        body: `username=${this.username.value}&password=${this.password.value}`
    };
    fetch('/login', payload).then(resp => resp.text()).then(t => token = t);
    return false;
"
>
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Sign in">
</form>

<input type="button" value="controller" onclick="
fetch(
    '/controller',
    {
        headers: {
            'Authorization': `Bearer ${token}`
        }
    }
).then(resp => resp.json()).then(console.log)
">

<input type="button" value="hello" onclick="
fetch(
    '/hello',
    {
        headers: {
            'Authorization': `Bearer ${token}`
        }
    }
).then(resp => resp.json()).then(console.log)
">
</body>
</html>